
/app/app-release.apk

/local.properties

/app/build/*
/gradle

/app/app.iml
/gradle.properties

/gradlew.bat
/Sample.iml
/.gradle
/.idea
**/.DS_Store

/twoWayViewLayouts/build
/library/library.iml
/library/gradle.properties
/build
**/*.iml
/gradlew
